src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae309953-3175-480d-8ea4-ce8ea50f1cfa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellomuleFlow" doc:id="028ec8a9-ee3c-495e-876e-bc973bf8fb18" >
		<http:listener doc:name="Listener" doc:id="f84b7c1f-f4a4-4a27-82a4-7bedcbe45c3d" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["HELLO MULE"]' doc:name="Set Payload" doc:id="faf1d29e-e6e3-4311-9edf-814d6aa935f3" />
		<ee:transform doc:name="Transform Message" doc:id="72d6d31e-c317-4548-9515-f775d66abbed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
